body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.left-column {
    flex: 1;
    margin-right: 20px;
}

.right-column {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #ccc;
}

/* Accordion header styling */
.q-accordion-header {
    background-color: #dcdcdc;
    color: black;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: left;
}

/* When the accordion is open */
.q-accordion-header.active {
    background-color: #dcdcdc;
}

/* Accordion content */
.q-accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: white;
    padding: 0 15px;
    margin-bottom: 10px;
    border-radius: 0 0 5px 5px;
    transition: max-height 0.3s ease;
}

/* Content when it's expanded */
.q-accordion-header.active+.q-accordion-content {
    padding: 15px;
}

.q-accordion-content p,
.q-accordion-content h1,
.q-accordion-content h2 {
    margin-top: 0;
    padding-top: 0;
}

.popover {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-width: 250px;
    word-wrap: break-word;
    border-radius: 5px;
    font-size: 12px;
}

#checklist-container {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

/* Each checklist item container */
#checklist-container div {
    background-color: #eaeaea;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* Checkbox styling */
#checklist-container input[type="checkbox"] {
    margin-right: 10px;
}

.checklist-item-checked {
    background-color: palegreen !important;
    color: darkgreen;
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

.link-item img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.links .link-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.c-accordion-header .link-item {
    margin-right: 10px;
}

.c-accordion-header .link-item img {
    transition: transform 0.3s ease;
}

.c-accordion-header {
    background-color: #dcdcdc;
    color: black;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.c-accordion-content {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

.checklist-item.active .c-accordion-content {
    display: block;
    max-height: 500px;
    padding: 10px;
}

.c-accordion-header img {
    transition: transform 0.3s ease;
}

.checklist-item.active .c-accordion-header .link-item img {
    transform: rotate(90deg);
}

